@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-container {
  justify-content: center;
}


// @apply p-4 bg-white shadow-md rounded-lg;
  
//     .social-post-header {
//       @apply flex items-center space-x-4;
  
//       img {
//         @apply w-10 h-10 rounded-full;
//       }
  
//       h3 {
//         @apply font-bold text-lg;
//       }
//     }
  
//     .social_post_body {
//       @apply mt-4;
  
//       p {
//         @apply text-gray-700 leading-6;
//       }
//     }
  
//     .social_post_footer {
//       @apply mt-4;
  
//       button {
//         @apply px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600;
//       }
//     }