@use './constants/colors.scss' as c;

.profile_container {
    // padding-bottom: 2rem;
    position: relative;
    right: 3.5em;
    display: flex;
    flex-direction: row;
}

.profile_picture {
    position: relative;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border:  #636363 4px;
    box-shadow: 3px 1px 1px rgb(58, 58, 58);
    left: 3em;
    top: 1rem;
}

.name_container {
    position: relative;
    left: 4em;
    top: -1em;
}

.profile_name {
    position: relative;
    font-weight: 649;
}

.profile_tag {
    position: relative;
    color: c.$dark-gray;
    font-family: cursive;
    bottom: 1rem;
}