@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@600&display=swap');

:root {
  --background: "#f0c691ff";
  --foreground: "#362316ff";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: "#f0c691ff";
    --foreground: "#362316ff";
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
